<!-- search.html——进行全局搜索-->
<!--形参列表: 
    form -- 要求为一个SearchForm类对象，SearchForm对象能够自动解析成HTML语言片段
    isuser -- 要求传入的值恒定为True
    附注: SearchForm类的定义请参见'/forms.py'，包含两个个自动解析的片段，即SubmitForm={target, submit}

    title -- 父模板base_navigation_bar.html的参数，类型为str，指定页面名称
-->


{% extends "base_navigation_bar.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h3>全局搜索</h3>
<form action="" method="post" name="login">   <!--<form>标签定义一个表单，method指定传送方法，敏感数据仅能使用HTML的post方法，表单名字为login-->
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</form>
{% endblock %}